@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    padding: 12px;
    font-family: "Noto Sans";
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: inherit;
}
.closeButton {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    grid-row: 1;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    background-color: inherit;
}
.closeButton:hover {
    background-color: #e9e9ed;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 10px 4px 12px 4px;
}
.labelColors ul {
    padding: 0;
    margin: 0;
}
.labelColors ul, .labelColors li{
    list-style: none;
}
.labelColors li {
    margin-bottom: 6px;
    height: 25px;
}
.labelElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
}
.colorButton {
    width: 100%;
    border: transparent;
    border-radius: 4px;
    height: inherit;
    cursor: pointer;
}
.colorButton:hover {
    filter: brightness(0.92);
}
#elemInput:hover {
    cursor: pointer;
}
.editIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: transparent;
    border-radius: 4px;
}
.editIconContainer:hover {
    cursor: pointer;
    background-color: #e9e9ed;
}
.editIcon {
    height: 16px;
    width: 16px;
}