@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    font-family: "Noto Sans";
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.backgroundComponent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #060010;
}
.containerContent {
    position: relative;
    z-index: 1;
    height: 100%;
}
.header {
    background: linear-gradient(135deg, #e5a84f, #fa7857);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 64px;
}
.edit img{
    height: 32px;
    width: 32px;
}
.edit img:hover {
    cursor: pointer;
    transform: translateY(-1px);
}
.title {
    font-weight: bold;
    font-family: inherit;
    font-size: 24px;
    padding: 16px 16px 16px 0;
    color: #FDFDFB;
}
.titleText {
    width: fit-content;
    border: 1px transparent;
    border-radius: 6px;
    padding: 4px;
    box-sizing: border-box;
}
.titleText:hover {
    filter: brightness(1.1);
    cursor: pointer;
    transform: translateY(-1px);
}
.titleInput {
    box-sizing: border-box;
    padding: 4px;
    font-size: 24px;
    font-family: inherit;
    filter: brightness(1.1);
    border: none;
    width: auto;
    min-width: auto;
    border-radius: 6px;
    color: black;
}
input:focus {
    outline: none;
}
.main {
    margin-top: 30px;
    display: flex;
    margin-left: 64px;
}
.addButton {
    min-width: 300px;
    /* background-color: #00C2E0; */
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(2px); 
    color: white;
    border: transparent;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    line-height: 16px;
    padding: 11px 0 11px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: fit-content;
}
.addButton:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
}
.buttonImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonText {
    margin-left: 10px;
}
.modalContainer {
    display: flex;
    flex-direction: column;

    min-width: 300px;
    background-color: white;
    color: black;
    font-family: "Noto Sans";

    padding: 8px;
    border-radius: 0.5rem;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
.modalTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.modalCloseButton {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    grid-row: 1;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    background-color: inherit;
}
.modalCloseButton:hover {
    background-color: #e9e9ed;
}   
.modalLine {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 10px 4px 10px 4px;
}
.modalCards {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.modalCards ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.modalCards button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 6px 0 6px 4px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.modalCards button:hover {
    background-color: #e9e9ed;
}
.modalColorsTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 15px;
}
.modalColors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.modalColorsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
    box-sizing: border-box;
}
.modalColorButton {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9ed;
    border-radius: 0%;
    min-height: 30px;
}
.modalColorButton:hover {
    cursor: pointer;
    filter: brightness(0.92);
}