@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    font-family: "Noto Sans";
    height: 100vh;
}
.header {
    background: linear-gradient(135deg, #e5a84f, #fa7857);
}
.title {
    font-weight: bold;
    font-family: inherit;
    font-size: 24px;
    padding: 8px;
    margin-left: 64px;
    color: #FDFDFB;
}
.main {
    margin-top: 30px;
    display: flex;
    margin-left: 64px;
}
.addButton {
    min-width: 300px;
    background-color: #00C2E0;
    color: white;
    border: transparent;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    line-height: 16px;
    padding: 11px 0 11px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.addButton:hover {
    filter: brightness(0.92);
    transform: translateY(-1px);
}
.buttonImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonText {
    margin-left: 10px;
}