@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    font-family: "Noto Sans";
    height: 100vh;
}
.header {
    background: linear-gradient(135deg, #e5a84f, #fa7857);
}
.title {
    font-weight: bold;
    font-family: inherit;
    font-size: 24px;
    padding: 16px;
    margin-left: 64px;
    color: #FDFDFB;
}
.titleText {
    width: fit-content;
    border: 1px transparent;
    border-radius: 6px;
    padding: 4px;
    box-sizing: border-box;
}
.titleText:hover {
    filter: brightness(0.90);
    cursor: pointer;
    transform: translateY(-1px);
}
.main {
    margin-top: 30px;
    display: flex;
    margin-left: 64px;
}
.addButton {
    min-width: 300px;
    /* background-color: #00C2E0; */
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(2px); 
    color: white;
    border: transparent;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    line-height: 16px;
    padding: 11px 0 11px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: fit-content;
}
.addButton:hover {
    filter: brightness(0.95);
    transform: translateY(-1px);
}
.buttonImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonText {
    margin-left: 10px;
}