@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(245, 245, 220, 0.575);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans";
  padding: 48px 30vw 0 30vw;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img, .right img {
  height: 48px;
  width: 48px;
}
.left img:hover{
  cursor: pointer;
  transform: translateY(-1px)
}
.right img {
  border-radius: 50%;
}
.right img:hover {
  cursor: pointer;
}
.workspaceTitle {
  font-weight: bold;
  font-size: 28px;
}
.workspaceTitle button {
  background-color: rgba(245, 245, 220, 0.575);
  border-radius: 4px;
  border: transparent;
  margin-left: 6px;
  padding: 2px 4px 2px 4px;
}
.workspaceTitle button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.titleInput {
  font-size: 26px;
  margin: 0;
}
.separatingLine {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 24px 0 18px 0;
}
.boardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.boardTitle {
  margin-bottom: 12px;
}
.boards {
  display: flex;
  flex-direction: row;
  gap: 8px;
}