@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(245, 245, 220, 0.575);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans";
  padding: 48px 30vw 0 30vw;
}
.separatingLine {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 24px 0 18px 0;
}
.boardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.boardTitle {
  margin-bottom: 12px;
}
.boards {
  display: flex;
  flex-direction: row;
  gap: 8px;
}