@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    background-color: #FDFDFB;
    font-size: 12px;
    font-family: "Noto Sans";
    color: black;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.main:hover {
    transform: translateY(-1px);
    filter: brightness(0.92);
}
.main:hover .right{
  opacity: 1;
}
.right {
    opacity: 0;
    transition: opacity 150ms ease;
    display: flex;
}
.editIcon {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 150ms ease;
    margin: -4px -4px -4px 0;
}
.trashIcon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 150ms ease;
    margin: -4px -4px -4px 0;
}
.trashIcon:hover,
.editIcon:hover {
    background-color: #e9e9ed;
}
.modalContainer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.modalLeft {
    padding: 0 4px 0 4px;
    border: transparent;
    border-radius: 4px;
}
.modalCloseButton {
    border: transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: inherit;
}
.modalCloseButton:hover {
    cursor: pointer;
    background-color: #e9e9ed;
}
.modalMain {
    display: flex;
    flex-direction: row;
}
.modalLine {
    height: 1px;
    background-color: #e9e9ed;
}
.modalLeftMain {
    width: 500px;
    padding: 12px;
}
.modalCardInput {
    border: none;
    background-color: inherit;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    max-width: 100%;
    color: #a3a3a3;
    padding-bottom: 16px;
}
.labelButton {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    background-color: inherit;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    border-radius: 4px;
}
.labelButton:hover {
    filter: brightness(0.92);
    cursor: pointer;
}
.modalLabelIcon {
    height: 16px;
    width: 16px;
    color: black;
}
.modalRightMain {
    width: 460px;
    background-color: #f8f8f8;
}
.modalRightTitle, .cardCommentInput{
    padding: 12px;
}
.commentInput input{
    min-width: 300px;
}
.saveCommentContainer {
    padding-left: 12px;
}
.saveCommentContainer button {
    font-size: 12px;
    padding: 4px;
}
.cardCommentList {
    padding-left: 30px;
    margin-top: 12px;
}
.cardCommentList ul, .cardCommentList li {
    list-style: none;
    padding: 0;
}
.comment {
    margin-bottom: 12px;
}