@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    background-color: #FDFDFB;
    font-size: 12px;
    font-family: "Noto Sans";
    color: black;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.main:hover {
    transform: translateY(-1px);
    filter: brightness(0.92);
}
.main:hover .right{
  opacity: 1;
}
.right {
    opacity: 0;
    transition: opacity 150ms ease;
    display: flex;
}
.editIcon {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 150ms ease;
    margin: -4px -4px -4px 0;
}
.trashIcon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 150ms ease;
    margin: -4px -4px -4px 0;
}
.trashIcon:hover,
.editIcon:hover {
    background-color: #e9e9ed;
}