@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    font-family: 'Noto Sans';
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 24px;
    min-width: 300px;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.title {
    font-size: 16px;
    line-height: 22px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftText {
    font-size: 14px;
    margin-left: 8px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}