.main {
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
.title {
    font-weight: bold;
}