@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    font-family: 'Noto Sans';
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    min-width: 300px;
    /* height: auto; */
    height: fit-content;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.titleInput {
    padding: 8px 8px 8px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.titleInput:focus {
    outline: none;
}
.title:hover {
    transform: translateY(-1px);
    border-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.title {
    font-size: 16px;
    line-height: 22px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    margin: 0;
    font: inherit;
    color: inherit;
    border: 1px transparent;
    border-radius: 5px;
}
.leftLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftText {
    font-size: 14px;
    margin-left: 4px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleImgContainer:hover {
    transform: translateY(-1px);
}
.titleImg {
    cursor: pointer;
}
.boxInModal {
    background-color: white;
    font-family: "Noto Sans";
    color: black;
    display: flex;

    width: fit-content;
    padding: 8px;
    border-radius: 0.5rem;
}
.modalContainer {
    display: flex;
    flex-direction: column;

    min-width: 300px;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
.modalTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.modalCloseButton {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    grid-row: 1;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}
.underline {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 10px 4px 10px 4px;
}
.modalContent {
    font-size: 15px;
    font-family: inherit;
}
.modalCards {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.modalCards ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.modalCards button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 4px 0 4px 0;
    width: 100%;
}
.modalCards button:hover {
    background-color: #e9e9ed;
}