@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  height: 100vh;
  box-sizing: border-box;
}
.main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans";
  padding: 48px 2rem 0 2rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
.leftHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftHeader img, .right img {
  height: 48px;
  width: 48px;
}
.leftHeader img:hover{
  cursor: pointer;
  transform: translateY(-1px)
}
.right img {
  border-radius: 50%;
}
.right img:hover {
  cursor: pointer;
}
.workspaceTitle {
  font-weight: bold;
  font-size: 28px;
}
.workspaceTitle button {
  background-color: inherit;
  border-radius: 4px;
  border: transparent;
  margin-left: 6px;
  padding: 2px 4px 2px 4px;
}
.workspaceTitle button:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
}
.titleInput {
  font-size: 26px;
  margin: 0;
}
.separatingLine {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 24px 0 18px 0;
}
.boardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.boardTitle {
  margin-bottom: 12px;
}
.boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.defaultBoardContainer {
  height: 84px;
  width: 200px;
}
.boardPopoverMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boardPopoverHeader {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.boardPopoverHeader button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 4px;
}
.boardPopoverHeader button:hover {
  cursor: pointer;
}
.mainContent {
  position: relative;
}
.left {
  position: absolute;
  left: 0;
  width: 260px;
  padding-top: 48px;
}