.main {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 200px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
}
.main:hover {
  cursor: pointer;
}
.top {
  width: 100%;
  height: 48px;
}
.top:hover {
  filter: brightness(0.92);
}
.line {
  height: 1px;
  background-color: #091e4240;
  width: 100%;
}
.bottom {
  background-color: #ffffff;
}
.title {
  padding: 8px;
  font-size: 14px;
  color: black;
}
.defaultStyle {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  height: 84px;
}
.defaultStyle:hover {
  filter: brightness(0.92);
}