.main {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 6px;
  width: 200px;
}
.main:hover {
  cursor: pointer;
}
.top {
  width: 100%;
  height: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.top:hover {
  filter: brightness(0.92);
}
.line {
  height: 1px;
  background-color: grey;
  width: 100%;
}
.title {
  padding: 8px;
  font-size: 14px;
}