.main {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 6px;
  width: 200px;
}
.main:hover {
  cursor: pointer;
}
.top {
  width: 100%;
  height: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.top:hover {
  filter: brightness(0.92);
}
.line {
  height: 1px;
  background-color: grey;
  width: 100%;
}
.bottom {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.title {
  padding: 8px;
  font-size: 14px;
  color: black;
}
.defaultStyle {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}
.defaultStyle:hover {
  filter: brightness(0.92);
}